<%= link_to "Home", action: "index" %>

<h1 class="today-button">Today</h1>
  <div class="today-main">
    <div class="location">Weather for: <%= "#{@results.location}" %></div>
    <div class="clothing-image">clothing icon:
      <div class="clothing_headwear"><%= image_tag "clothing_assets/gloves_scarf_hat.png" %></div>
      <div class="clothing_top"><%= image_tag "clothing_assets/coat.png" %></div>
      <div class="clothing_bottom"><%= image_tag "clothing_assets/pants.png" %></div>
      <div class="clothing_accessories"></div>
    </div>
    <div class="clothing-recommendation">Clothing recommendation:
      <%= "#{@results.get_headwear}" %>
      <%= "#{@results.get_top}" %>
      <%= "#{@results.get_bottom}" %>
      <%= "#{@results.get_accessories}" %>
    </div>
    <div class="weather-summary">weather summary: <%= "#{@results.weather_summary}" %></div>
    <div class="current-weather-icon">current weather icon: <%= "#{@results.current_weather_icon}" %></div>
    <div class="current-temp">current temp: <%= "#{@results.current_temp}" %>&deg;</div>
    <div class="day-of-the-week">day of the week: <%= "#{@results.day_of_the_week(0)}" %></div>
    <div class="todays-high">todays high: <%= "#{@results.todays_high}" %>&deg;</div>
    <div class="todays-low">todays low: <%= "#{@results.todays_low}" %>&deg;</div>
    <div class="in-one-hour">in one hour: <%= "#{@results.in_x_hours(1)}" %></div>
    <div class="in-two-hours">in two hours: <%= "#{@results.in_x_hours(2)}" %></div>
    <div class="in-three-hours">in three hours: <%= "#{@results.in_x_hours(3)}" %></div>
    <div class="in-four-hours">in four hours: <%= "#{@results.in_x_hours(4)}" %></div>
    <div class="in-five-hours">in five hours: <%= "#{@results.in_x_hours(5)}" %></div>
    <div class="in-six-hours">in six hours: <%= "#{@results.in_x_hours(6)}" %></div>
  </div>
<h1 class="weekly-forecast-button">Weekly Forecast</h1>
  <div class="weekly-forecast-main">
    <div class="day-1">
      <div class="day-contents" class="day-of-the-week-1"><%= "#{@results.day_of_the_week(1)}" %></div>
      <div class="day-contents" class="days-icon-1"><%= "#{@results.icon_of_the_day(1)}" %></div>
      <div class="day-contents" class="days-high-1"><%= "#{@results.high_of_the_day(1)}" %>&deg;</div>
      <div class="day-contents" class="days-low-1"><%= "#{@results.low_of_the_day(1)}" %>&deg;</div>
    </div>
    <div class="day-2">
      <div class="day-contents" class="day-of-the-week-2"><%= "#{@results.day_of_the_week(2)}" %></div>
      <div class="day-contents" class="days-icon-2"><%= "#{@results.icon_of_the_day(2)}" %></div>
      <div class="day-contents" class="days-high-2"><%= "#{@results.high_of_the_day(2)}" %>&deg;</div>
      <div class="day-contents" class="days-low-2"><%= "#{@results.low_of_the_day(2)}" %>&deg;</div>
    </div>
    <div class="day-3">
      <div class="day-contents" class="day-of-the-week-3"><%= "#{@results.day_of_the_week(3)}" %></div>
      <div class="day-contents" class="days-icon-3"><%= "#{@results.icon_of_the_day(3)}" %></div>
      <div class="day-contents" class="days-high-3"><%= "#{@results.high_of_the_day(3)}" %>&deg;</div>
      <div class="day-contents" class="days-low-3"><%= "#{@results.low_of_the_day(3)}" %>&deg;</div>
    </div>
    <div class="day-4">
      <div class="day-contents" class="day-of-the-week-4"><%= "#{@results.day_of_the_week(4)}" %></div>
      <div class="day-contents" class="days-icon-4"><%= "#{@results.icon_of_the_day(4)}" %></div>
      <div class="day-contents" class="days-high-4"><%= "#{@results.high_of_the_day(4)}" %>&deg;</div>
      <div class="day-contents" class="days-low-4"><%= "#{@results.low_of_the_day(4)}" %>&deg;</div>
    </div>
    <div class="day-5">
      <div class="day-contents" class="day-of-the-week-5"><%= "#{@results.day_of_the_week(5)}" %></div>
      <div class="day-contents" class="days-icon-5"><%= "#{@results.icon_of_the_day(5)}" %></div>
      <div class="day-contents" class="days-high-5"><%= "#{@results.high_of_the_day(5)}" %>&deg;</div>
      <div class="day-contents" class="days-low-5"><%= "#{@results.low_of_the_day(5)}" %>&deg;</div>
    </div>
    <div class="day-6">
      <div class="day-contents" class="day-of-the-week-6"><%= "#{@results.day_of_the_week(6)}" %></div>
      <div class="day-contents" class="days-icon-6"><%= "#{@results.icon_of_the_day(6)}" %></div>
      <div class="day-contents" class="days-high-6"><%= "#{@results.high_of_the_day(6)}" %>&deg;</div>
      <div class="day-contents" class="days-low-6"><%= "#{@results.low_of_the_day(6)}" %>&deg;</div>
    </div>
    <div class="day-7">
      <div class="day-contents" class="day-of-the-week-7"><%= "#{@results.day_of_the_week(7)}" %></div>
      <div class="day-contents" class="days-icon-7"><%= "#{@results.icon_of_the_day(7)}" %></div>
      <div class="day-contents" class="days-high-7"><%= "#{@results.high_of_the_day(7)}" %>&deg;</div>
      <div class="day-contents" class="days-low-7"><%= "#{@results.low_of_the_day(7)}" %>&deg;</div>
    </div>
  </div>