<!DOCTYPE html>
<html>
  <head>
    <title>WeatherPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <link href="https://fonts.googleapis.com/css?family=Trocchi" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"> -->

    <!-- <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Mako" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
